
.header {
  width: 100%;
  text-align: left;
  background-color:#d5efff;
}

.header_title{
	padding:0px 0px 0px 50px;
	display: flex;
}

.user{
	text-align: right;
	padding:0px 50px 0px 0px;
}

.nav {
  float: left;
  width: 30%;
  height: 100%;
  margin:3px 0px;
  padding: 0px 0px 180px 0px;
  text-align: center;
  border-right:1px solid #eaeaea;
}


ul{
	list-style:none;
}

.content {
  width: 70%;
  text-align: left;
  margin-left: 20px;


}

.menu_title{
	background-color:#eaeaea;
}

.menu{

}


.block1{
	float:left;
	flex-grow: 1;
	padding: 35px 75px;
	margin:0 15px;
	background-color:#ffaeae;
	border-radius: 5px;

}

.block2{
	float:left;
	flex-grow: 1;
	padding: 11px 75px;
	margin:0 15px;
	background-color:#b4e6b3;
	border-radius: 5px;
}

.block3{
	float:left;
	padding: 35px 75px;
	margin:0 15px;
	background-color:#aa9fd0;
	border-radius: 5px;
}


.main{
	display: flex;


}

.footer {
  width: 100%;
  position:fixed;
  text-align: center;
  background-color:#eaeaea;
}